  /* .row{
    border: 8px solid brown;;
}

.col{
    border:3px solid blue;
}
.col-6{
    border:2px solid green;
}  

.w-75{
    border:3px solid blue;
}

.w-25{
    border:5px solid yellow;
}

.col-md-9{
    border:5px solid gold;
} */

/* .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height:350px;
} */

/* .pink{
    background: pink;
} */

/* .yellow{
    background: yellow;
} */

/* #heading{
    padding: 10px 0 20px 10px;
    background:rgb(158, 158, 223);
} */

/* img{ */
    /* width:1080px ; */
    /* height:750px; */
/* } */